<div class="modal fade" id="forgot">
	<div class="modal-dialog">
		<div class="modal-content">
			<form #forgotPasswordForm="ngForm">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss='modal' aria-hidden="true" ng-model="button" (click)="onDismiss()">
						<span class="glyphicon glyphicon-remove"></span>
					</button>

					<h4 class="modal-title" style="font-size: 32px; padding: 12px;"> Reset Your Password </h4>
				</div>

				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-envelope"></span>
										</div>

										<input type="email" class="form-control" placeholder="Enter Your Email Address" name="email" required [(ngModel)]="email">
									</div>

	                                <div *ngIf="invalidEmail && !validateEmail(email)" class="alert alert-danger">
	                                    Enter a valid email address.
	                                </div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<div class="form-group">
						<button type="submit" class="btn btn-lg btn-info" ng-model="button" (click)="onSubmit()"> Submit <span class="glyphicon glyphicon-saved"></span></button>
						<button id="redirect-button" hidden="true" [routerLink]="['reset-password']"></button>
						<button type="button" id="cancel-button" data-dismiss="modal" class="btn btn-lg btn-default" ng-model="button" (click)="onDismiss()"> Cancel <span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
