<div class="panel-title">
	<h1><strong>Reset Your Password</strong></h1>
</div>

<div class="container">
    <div class="row">
        <div class="panel-body">
            <div class="container-fluid">
                <hr />

                <form name="resetPasswordForm" novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </div>

                                    <input placeholder="Enter Your Validation Key" name="vkey" class="form-control" required [(ngModel)]="validationKey">
                                </div>

								<div *ngIf="invalidKey && !validateKey(validationKey)" class="alert alert-danger">
									Paste the validation key that was sent to your email into this field.
								</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </div>

                                    <input type="password" placeholder="Enter Your Password" name="pwd" class="form-control" required [(ngModel)]="password">
                                </div>

								<div *ngIf="invalidPassword && !validatePassword(password)" class="alert alert-danger">
									Enter a password with at least 8 characters.
								</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </div>

                                    <input type="password" placeholder="Confirm Your Password" name="cnfpwd" class="form-control" required [(ngModel)]="confirmPassword">
                                </div>

								<div *ngIf="emptyPwdConfirm && !confirmPassword" class="alert alert-danger">
									Confirm your password.
								</div>

								<div *ngIf="(!pwdMatch || (emptyPwdConfirm && confirmPassword)) && (confirmPassword != password)" class="alert alert-danger">
									Passwords do not match.
								</div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<button type="submit" class="btn btn-success btn-block btn-lg" ng-model="button" (click)="onSubmit()">Reset Password</button>
							<button id="redirect-home" hidden="true" [routerLink]="['/']"></button>
						</div>
					</div>

                    <div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="form-group" style="float: none; margin: 12px auto; text-align: center;">
								<a href="/">Return to Home Screen</a>
							</div>
						</div>
					</div>
                </form>
            </div>
        </div>
    </div>
</div>
